@import "vars"

// ≥1200px
@media screen and (max-width: 1200px)
  .menu
    right: 30px
  
  .work
    &__item
      width: 270px

  .portfolio
    &__wrap
      margin-top: 40px

    &__item
      width: 290px
      min-height: 430px
  
  .project
    &__block
      &_left
        width: 410px
      &_center
        width: 140px
      &_right
        width: 350px

    &__text, &__list-item
      line-height: 1.2

  .contacts
    &-list
      margin-left: 20px

  .form
    &__textarea
      height: 130px

  .modal
    &__wrap
      padding: 30px 0

  .btn-top
    left: 20px

// ≥992px
@media screen and (max-width: 992px)
  .logo
    &__name
      font-size: 34px

    &__description
      font-size: 14px

  .menu
    &_fixed
      .menu
        &__item
          margin: 0 8px
        &__link
          display: flex
          justify-content: center

    &__item
      min-width: 70px
      margin: 0 8px
    &__link
      height: 50px
      font-size: 12px
    &__svg
      width: 25px
      height: 25px

  .top
    &__title
      font-size: 50px
    &__subtitle
      font-size: 24px
    &__desc-btn
      font-size: 12px

  .services
    &__list
      width: 100%

  .resume
    &__foto
      width: 40%
    &__info
      width: 60%
    &__title
      font-size: 24px
    &__text
      margin-left: 30px
      font-size: 18px
    &__skill
      margin-left: 30px

  .work
    &__item
      width: 300px

  .portfolio
    &__wrap
      justify-content: space-between
      margin: 30px 0
    &__item
      width: 220px
      min-height: 320px
      margin-bottom: 15px
      border: 3px solid $accent
        
  .project
    &__block
      &_left
        width: 300px
      &_center
        width: 100px
        min-height: 1500px
      &_right
        width: 260px
        min-height: 600px

    &__title
      font-size: 24px
    &__subtitle
      font-size: 20px

    &__text, &__list-item
      font-size: 16px

  .contacts-list
    margin-left: 0
    &__item
      margin-bottom: 20px
      font-size: 20px
    &__svg
      width: 30px
      height: 30px

  .form
    &_callback
      width: 360px
      &::before
        left: -10px
    &__wrap
      width: 270px

      &_modal
        width: 350px

    &__radio
      font-size: 14px

  .footer
    &__wrap
      flex-direction: column

    &__column
      &_left, &_right
        width: 100%

      &_left
        justify-content: center
        margin-bottom: 50px

// ≥768px
@media screen and (max-width: 768px)
  .section
    padding-top: 40px

  .menu
    &_fixed
      bottom: auto
      top: 90px
      right: 25px

      .menu
        
        &__list
          border: 2px solid $accent

        &__link
          &:hover
            .menu__name
              display: block
 
  .toggle-menu
    display: block
    right: 30px
  
  .advantages
    .title-text
      margin: 0 40px

    &__list
      flex-direction: column
      align-items: center
      margin-top: 30px

    &__item
      margin-top: 0
      padding: 40px 20px 30px

  .resume 
    &__block
      flex-direction: column

    &__foto
      width: 340px
      margin: 0 auto

    &__info
      width: 100%
      margin-top: 30px

    &__text
      margin-left: 10px

  .work
    &__item
      width: 230px

  .portfolio

    &__wrap
      margin-bottom: 0px

    &__item
      width: 250px
      margin-bottom: 10px
  

    &__link
      &::before
        background: rgba(#ffffff, 0.60)

    &__name
      opacity: 1

  .contacts-list
    align-items: center
    margin: 40px auto

  .form
    &_callback
      margin: 20px auto
      &::before
        display: none
 
  .project
    &__block

      &_left
        width: 100%
        margin-bottom: 40px

      &_center
        width: 35%
        
      &_right
        width: 60%

    &__wrap
      margin-top: 30px

    &__title
      font-size: 26px

    &__subtitle
      font-size: 22px

    &__text,  &__list-item
      font-size: 16px

  .footer
    &__column
      &_left
        margin-bottom: 30px

    &__block
      &_contacts
        flex-direction: column-reverse
        align-items: center

      &_payment
        align-items: center
        flex-wrap: wrap

    &__btn
      width: 280px
      margin: 0 auto

  .social
    &__lst
      margin-bottom: 20px
    &__item
      margin: 0 10px

  .payment
    &__text
      margin: 0 auto
      margin-top: 20px
    &__lst
      justify-content: center
      margin: 0 auto
    &__item
      margin: 0 6px

  .modal
    &__close
      top: 20px
      right: 20px

    &__wrap
      width: 440px
      height: 500px
      overflow-y: scroll

  .form
    &__textarea
      height: 80px

  .hidden
    display: none!important

// ≥576px
@media screen and (max-width: 576px)
  .title-text
    font-size: 28px

  .btn-top
    left: 10px

  .menu
    &_fixed
      right: 15px

  .toggle-menu
    right: 20px

  .top
    &__wrap
      z-index: 1

    &__title
      font-size: 38px

    &__subtitle
      font-size: 20px

    &__btn
      padding: 10px 30px

    &__desc-btn
      font-size: 12px
      position: relative
      z-index: 1

  .advantages
    .title-text
      margin: 0

    &__item
      width: 280px
      margin-bottom: 20px

  .services
    &__title
      font-size: 22px
    &__text
      font-size: 16px

  .resume
    &__foto
      width: 250px
    &__info
      padding-left: 0
    &__text
      margin-left: 0
      font-size: 16px
    &__skill
      margin-left: 0

  .works
    .swiper
      &-button-prev
        left: 5px
      &-button-next
        right: 5px

  .work
    &__item
      width: 260px

  .portfolio
    &__wrap
      flex-direction: column
      align-items: center
    &__item
      width: 280px
      min-height: 410px

  .contacts-list
    margin: 30px auto
    &__item
      margin-bottom: 15px
      font-size: 18px
 
  .project
    padding-top: 40px

    &__wrap
      margin-top: 25px

    &__block
      &_center
        display: none
      &_right
        width: 100%

    &__title
      margin-bottom: 5px
      line-height: 1

    &__subtitle
      margin-bottom: 5px
      line-height: 1

    &__text
      margin-bottom: 15px

    &__list
      margin-bottom: 10px

    &__list-item
      margin-bottom: 6px

  .footer
    padding: 20px 0

    &__column
      &_left
        margin-bottom: 20px

    &__block
      padding: 0

    &__btn
      width: 260px
      padding: 10px 5px

    &__bottom
      flex-direction: column
      align-items: center

    &__copyright
      margin-bottom: 5px

  .payment
    &__text
      width: 100%
      text-align: center

    &__lst
      flex-wrap: wrap

    &__item
      width: auto
      margin: 5px 15px
      text-align: center

  .modal
    &__close
      top: 10px
      right: 10px
      width: 20px
      height: 20px

      svg
        width: 20px
        height: 20px

    &__wrap
      width: 300px
      height: 540px

  .form
    &_callback
      width: 290px

    &__wrap
      &_modal
        width: 240px
      
    &__radio
      display: flex
      flex-wrap: wrap
      font-size: 16px
  
    &__radio-title
      width: 100%
      margin-bottom: 3px

    &__btn
      &_modal
        width: 250px
  .radio
    width: 40%
    margin-left: 0