// Переменные для шрифтов
$font-accent: "Times New Roman", Times, serif

$font-default: "Roboto", Arial, Helvetica, sans-serif


// Переменные для цвета
$accent: #00c853
$special: #d50000
$text: #212121
$title: #424242

// Прочие переменные
$slowdown: all 0.3s ease
