@import "vars"
@import "libs"
@import "fonts"

/* basic styles */

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

html
  overflow-x: hidden
  box-sizing: border-box

*, ::before, ::after
  box-sizing: inherit
  
body
  position: relative
  min-width: 320px
  overflow: hidden
  font-family: $font-default
  font-size: 16px
  line-height: 1.4
  color: $text
  
  input, textarea
    border: #666 1px solid
    outline: none

img
  display: block
  max-width: 100%
  height: auto

b, strong
  font-weight: bold

.btn
  padding: 10px 40px
  font-size: 18px
  font-weight: 400
  color: #ffffff
  text-transform: uppercase
  background-color: $accent
  border: 2px solid #ffffff
  border-radius: 30px
  transition: $slowdown
  cursor: pointer
  
  &:hover
    color: #ffffff
    text-decoration: none
    background-color: rgba(#ffffff, 0.1)

  &:active
    transform: translateY(5px)

.link-btn
  display: block
  width: 250px
  margin: 0 auto
  
  &:hover
    color: #ffffff
    text-decoration: none
  
.no-btn
  padding: 0
  background: none
  border: none
  &:active, &:focus
    outline: none
  
.lst
  margin: 0
  padding: 0
  list-style: none
  
.container-relative
  position: relative
  height: 100%
  
.title-text
  position: relative
  margin-bottom: 0
  font-family: $font-accent
  font-size: 34px
  font-weight: 700
  text-align: center
  text-transform: uppercase
  line-height: 1.2

  &_revers
    color: #eeeeee
  
  &_ttn
    text-transform: none

.text-accent
  color: $accent

.text-black
  font-weight: 900

.text-up
  text-transform: uppercase
  
.text-nowrap
  white-space: nowrap

.container-100, .row-100
  height: 100%

.section
  padding-top: 60px
  
/* project styles */

// header


// section-name


// footer



@import "media" // Always at the end